# Ignore directories/files not needed in the final Docker image
node_modules
public/storage
storage/*.key
.env
.env.*
vendor
docker-compose.yml
Dockerfile
npm-debug.log
yarn-error.log
.idea
.vscode
tests
.git
.gitignore
*.md
*.log
phpunit.xml
composer.phar
package-lock.json
docker/
